### Operator Module

In [1]:
from functools import reduce
from operator import mul

In [2]:
def factorial(n):
    return reduce(mul, range(1,n+1))

In [6]:
factorial(5)

120

In [10]:
from operator import itemgetter
metro_data = [
    ('Taipei', 'TWN'),
    ('Tokyo', 'JP'),
    ('Delhi', 'IN'),
]

In [11]:
for city in sorted(metro_data, key=lambda field: field[1]):
    print(city)

('Delhi', 'IN')
('Tokyo', 'JP')
('Taipei', 'TWN')

In [13]:
for city in sorted(metro_data, key=itemgetter(0)):
    print(city)

('Delhi', 'IN')
('Taipei', 'TWN')
('Tokyo', 'JP')

In [14]:
metro_data = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
]

In [20]:
from collections import namedtuple
LatLong = namedtuple('LatLong', 'lat long')
Metropolis = namedtuple('Metropolis', 'name cc pop coord')
metro_areas = [Metropolis(name, cc, pop, LatLong(lat, long))
               for name, cc, pop, (lat, long) in metro_data]

In [24]:
from operator import attrgetter
name_lat = attrgetter('name', 'coord.lat')
name_lat

operator.attrgetter('name', 'coord.lat')

In [25]:
for city in sorted(metro_areas, key=attrgetter('coord.lat')):
    print(name_lat(city))

('Sao Paulo', -23.547778)
('Mexico City', 19.433333)
('Delhi NCR', 28.613889)
('Tokyo', 35.689722)
('New York-Newark', 40.808611)

In [30]:
import operator
[name for name in dir(operator) if not name.startswith('_')]

['abs',
 'add',
 'and_',
 'attrgetter',
 'concat',
 'contains',
 'countOf',
 'delitem',
 'eq',
 'floordiv',
 'ge',
 'getitem',
 'gt',
 'iadd',
 'iand',
 'iconcat',
 'ifloordiv',
 'ilshift',
 'imatmul',
 'imod',
 'imul',
 'index',
 'indexOf',
 'inv',
 'invert',
 'ior',
 'ipow',
 'irshift',
 'is_',
 'is_not',
 'isub',
 'itemgetter',
 'itruediv',
 'ixor',
 'le',
 'length_hint',
 'lshift',
 'lt',
 'matmul',
 'methodcaller',
 'mod',
 'mul',
 'ne',
 'neg',
 'not_',
 'or_',
 'pos',
 'pow',
 'rshift',
 'setitem',
 'sub',
 'truediv',
 'truth',
 'xor']

### functool

In [3]:
from operator import mul
from functools import partial

In [5]:
triple = partial(mul, 3)
triple(7)

21

In [6]:
[triple(n) for n in range(10)]

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]

In [7]:
triple.func

In [8]:
triple.args

(3,)

In [10]:
triple.keywords

{}